# ================= Operating System =================
# macOS
.DS_Store
.AppleDouble
.LSOverride
.fseventsd/
.Trashes
.Trash-*
.VolumeIcon.icns
.directory
.nfs*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
*~

# ================= IDEs / Editors =================
## IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

## Eclipse
.metadata/
*.tmp
*.bak
*.swp
*~.orig
.project
.classpath
.settings/

## NetBeans
nbproject/private/
nbbuild/
dist/
.nb-gradle/

## Visual Studio Code
.vscode/

# ================= Build Tools =================
## Gradle
.gradle/
build/
!gradle-wrapper.jar
gradle-app.setting
.gradletasknamecache
run/
runs/

## Maven
target/

# ================= Logs and Crash Dumps =================
*.log
hs_err_pid*
*.stackdump

# ================= Archives and Packages =================
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
